.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    height: 100vh;
    width: 100vw;
    gap: 10px;
    background: linear-gradient(to right, rgb(236, 53, 99), rgb(238, 74, 150));
}

body {
    margin: 0px;
}

.container {
    display: grid;
    height: 600px;
    width: 600px;
    /* border: 2px dashed rgb(8, 148, 230); */
    box-shadow: 2px;
    background-color: aliceblue;
}

.buttons {
    gap: 5px;
    display: flex;
    
    
}